.App-login-form {
  display: flex;
  flex-direction: column;
  max-width: 260px;
}

.App-login-form label {
  margin-top: 10px;
  font-weight: bold;
}

.App-login-form input {
  padding: 6px;
  margin-top: 4px;
}

.App-login-form button {
  margin-top: 16px;
  padding: 8px;
  background-color: #153354;
  color: #fff;
  border: none;
  cursor: pointer;
}
